@import url(https://fonts.googleapis.com/css?family=Outfit:regular,700);

:root {
	--white: hsl(0, 0%, 100%);
	--light-gray: hsl(212, 45%, 89%);
	--grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);
	--font-size-h1: 1.35rem;
	--font-size-p: 0.95rem;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Outfit', sans-serif;
	font-weight: normal;
	font-size: 15px;
	background: var(--light-gray);

}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
	height: 100vh;
}

.qr-block {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 300px;
	background-color: var(--white);
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 15px 2rem #c9d0d8;
}

.qr-block__text {
	margin: 0 auto;
}

.qr-block__text h1 {
	font-size: var(--font-size-h1);
	font-weight: 700;
	color: var(--dark-blue);
	margin-top: 1.2rem;
	margin-bottom: 1rem;
}

.qr-block__text p {
	font-size: var(--font-size-p);
	font-weight: 400;
	color: var(--grayish-blue);
	margin-bottom: 0.5rem;
}

.qr-block img {
	width: 100%;
	border-radius: 15px;
}
