@import url(https://fonts.googleapis.com/css?family=Outfit:regular,700);

* {
	box-sizing: border-box;
}

body {
	font-family: Outfit, sans-serif;
	font-weight: normal;
	font-size: 15px;
	background: hsl(212, 45%, 89%);

}

.container {
	display: flex;
	justify-content: center;
	/*Центрирование по горизонтали*/
	align-items: center;
	/*Центрирование по вертикали */
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
	min-width: 375px;
	height: 100vh;
}

.qr-block {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	width: 350px;
	text-align: center;
	padding: 15px;
	background-color: hsl(0, 0%, 100%);
	border-radius: 10px;
}

.qr-block__text {
	margin: 0 auto;
}

.qr-block__text h1 {
	font-size: 1.5em;
	margin-bottom: 5px;
}

.qr-block__text p {
	margin: 0 0 10px 0;
	padding: 10px;
	color: hsl(220, 15%, 55%);
}

.qr-block img {
	display: block;
	border-radius: 10px;
}
